@page
@model ClassCraftFinal.Pages.ProductListModel
@{
    ViewData["Title"] = "Product List";
}

<h1> Product List</h1>
<div class="row products">
    @foreach (var product in Model.Fruits)
        {

        <div class="card col-sm-6 col-md-4">
            <div>
            <img src="@product.Image" class="card-img">
            </div>
            <div class="card-body text-center">
                <h4 class="card-title">@product.Name</h4>
            </div>
        </div>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Image</th>
            <th scope="col">Taste</th>
            <th scope="col">Origin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Fruits)
            {
            <tr>
                <th scope="row">@product.Name</th>
                <td>@product.Color</td>
                @*Notie the code below will not work as we need to use the img element to display an image!*@
                @*<td>@product.Image</td>*@
                <td><img class="w-100 list-img" src="@product.Image" alt="Product Image"></td>
                <td>@product.Taste</td>
                <td>@product.Origin</td>
            </tr>

        }
    </tbody>
</table>
